.payment{
	background-color: #fff;
	&__container{
		&__title{
			padding: 10px;
			border-bottom: 1px solid lightgray;
			background-color: rgb(234, 237, 237);
			text-align: center;
			font-weight: 400;

			&-link{
				text-decoration: none;
			}
		}
	}
	&__section{
		display: flex;
		margin: 0 20px;
		padding: 20px;
		border-bottom: 1px solid lightgray;
		&__title{
			flex: 0.2;
		}
		&__address{
			flex: 0.8;
		}
		&__items{
			flex: 0.8;
		}
		&__details{
			flex: 0.8;
		}
	}
}